<section>
    <header>
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#carpetaCreateModalCategoria">Crear
            Carpeta </button>
    </header>
    <main style="padding: 24px;">

        <div *ngIf="carpetas.length === 0" class="alert alert-secondary text-center">
            No hay carpetas en esta categoria.
        </div>

        <app-carpetas [carpetasListado]="carpetas" (onDbClickAction)="ondbClickFiles($event)" (onClickAction)="onClickFiles($event)" [isCategoria]="true"
            [categoriaId]="categoriaId"></app-carpetas>

        <app-carpetas-articulos [carpeta]="carpeta" *ngIf="carpeta"></app-carpetas-articulos>
    </main>
    <footer>

    </footer>

</section>

<modal-creacion-actualizacion [modalId]="'carpetaCreateModalCategoria'" [title]="'Crear Carpeta'" [fields]="myApp.formFields"
    [modelData]="requestData" (formSubmit)="crearCarpeta($event)"></modal-creacion-actualizacion>