<div style="margin-bottom: 10px;">
    <div class="toolbar">
        <div class="align-text">
            <button (click)="clickTools('save')" [disabled]="!articulo?.isChange"><i
                    class="fa-solid fa-floppy-disk"></i></button>
            <button (click)="clickTools('copy')"><i class="fa-solid fa-copy"></i></button>
            <!-- <button (click)="clickTools('print')"><i class="fa-solid fa-print"></i></button> -->
            <button [printSectionId]="printSectionId" ngxPrint [openNewTab]="false" [closeWindow]="true"
                [previewOnly]="false" [printTitle]="articulo?.title || ''" [useExistingCss]="true"><i
                    class="fa-solid fa-print"></i></button>
        </div>



        <button (click)="decreaseFont()">−</button>

        <input type="number" [(ngModel)]="fontSize" min="1" class="font-size-input" />

        <button (click)="increaseFont()">+</button>

        <span class="divider"></span>

        <button (click)="exec('bold')"><strong>B</strong></button>
        <button (click)="exec('italic')"><em>I</em></button>
        <button (click)="exec('insertUnorderedList')"><i class="fa-solid fa-list"></i></button>
        <button (click)="exec('insertOrderedList')"><i class="fa-solid fa-list-ol"></i></button>
        <button (click)="exec('underline')"><i class="fa-solid fa-underline"></i></button>

        <div class="align-text">
            <button (click)="alignText('left')" title="Alinear izquierda"><i
                    class="fa-solid fa-align-left"></i></button>
            <button (click)="alignText('center')" title="Centrar"><i class="fa-solid fa-align-justify"></i></button>
            <button (click)="alignText('right')" title="Alinear derecha"><i
                    class="fa-solid fa-align-right"></i></button>
        </div>
    </div>

</div>