<div class="row row-cols-auto g-2 justify-content-start">

  <div *ngFor="let item of carpetasListado" class="col">
    <app-drowmenu [listaDrow]="listaDrowDefault" [idDrow]="'listCarpetaId'+item.id"
      (onActinClick)="clickActionDrow($event,item)">
      <div class="folder-item" (click)="clickAction(item)" (dblclick)="dbClickAction(item)"
        [ngClass]="{'folder-item-select': (isCategoria && isValidateId(item.id))}">
        <div class="folder-icon">
          <i class="fas fa-folder"></i>
        </div>
        <app-titulo-editor [texto]="item?.nombre || ''" (onChangeTextEmitter)="changeTextEmitter($event, item)"
          [numPage]="1" [editandoTitulo]="item.editandoTitulo || false" [idEditor]="formatId('editorCarpetaId'+item.id)">
        </app-titulo-editor>
      </div>
    </app-drowmenu>

  </div>
</div>