.folder-item {
    display: flex;
    align-items: center;
    background-color: #f4f8fb;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;

    min-width: 180px;
    max-width: 250px;

    &:hover {
        background-color: rgb(203, 204, 218);
        transform: scale(1.03);
    }
}

.folder-icon {
    color: #444;
    margin-right: 12px;
    font-size: 24px;
    cursor: pointer;
}

.folder-name {
    flex-grow: 1;
    font-weight: 500;
    color: #111;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.folder-menu {
    color: #444;
    font-size: 18px;
    cursor: default;
}

.folder-item app-titulo-editor {
  flex-grow: 1; 
}