.menu-lateral {
    width: 250px;
    min-height: 100vh;
}

.icono-menu {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #111111;
    border-radius: 1rem;
}

.icono-menu-open {
    padding: 0.6rem;
}

header {
    h4 {
        margin: 0 !important;
        cursor: pointer;
    }
}