/* You can add global styles to this file, and also import other style files */

.justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justifyRight {
    display: flex;
    justify-content: right;
    align-items: center;
}


.justifybetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: grid;
    height: 99dvh;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

footer {
    margin-top: 1rem;
}


main {
    overflow-y: auto;
    min-height: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}