<section class="container" style="overflow-y: none;">
  <header>
    <nav aria-label="Page navigation" *ngIf="articulo">
      <ul class="pagination flex-wrap">
        <div *ngFor="let articulo of articulos;let i = index">
          <app-drowmenu [listaDrow]="listaDrowEliminar" [idDrow]="articulo.id.toString()"
            (onActinClick)="clickActionDrow($event)">
            <li class="page-item" [ngClass]="{'active': articuloId(articulo.id)}">
              <a class="page-link" (click)="seleccionarArticulo(articulo)" style="cursor: pointer;">{{i + 1}}</a>
            </li>
          </app-drowmenu>
        </div>


      </ul>
    </nav>
  </header>
  <main>
    <app-item-articulo *ngIf="articulo" [articulo]="articulo" (onEliminarArticulo)="onEliminarArticulo($event)"
      [isMin]="true"></app-item-articulo>

    <div *ngIf="articulos.length === 0" class="alert alert-secondary text-center">
      No hay artículos en esta carpeta.
    </div>
  </main>

</section>